<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar-manager></app-sidebar-manager>
  <div class="body-wrapper">
    <app-header-manager></app-header-manager>
    <div class="container-fluid">
      <div class="row">
        <!-- Left side: Image -->
        <div class="col-md-6 d-flex align-items-center justify-content-center" style="position: sticky; top: 0; height: 60vh; overflow: hidden;">
          <img src="assets/backTemplate/images/logos/security.png" class="img-fluid rounded mb-3 w-100" alt="Security Image">
        </div>
        <!-- Right side: Form -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Update Password</h5>
              <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
                <div class="mb-3" [ngClass]="{'has-error': isFieldInvalid('currentPassword')}">
                  <label for="exampleInputCurrentPassword" class="form-label">Current Password</label>
                  <input type="password" formControlName="currentPassword" class="form-control" id="exampleInputCurrentPassword" required>
                  <div *ngIf="isFieldInvalid('currentPassword')" class="alert alert-danger">
                    Current Password is required
                  </div>
                </div>
                <div class="mb-3" [ngClass]="{'has-error': isFieldInvalid('newPassword')}">
                  <label for="exampleInputNewPassword" class="form-label">New Password</label>
                  <input type="password" formControlName="newPassword" class="form-control" id="exampleInputNewPassword" required>
                  <div *ngIf="isFieldInvalid('newPassword')" class="alert alert-danger">
                    Password must contain at least one uppercase letter, one lowercase letter, one digit, and be at least 6 characters long
                  </div>
                </div>
                <div class="mb-3" [ngClass]="{'has-error': isFieldInvalid('confirmPassword')}">
                  <label for="exampleInputConfirmPassword" class="form-label">Confirm New Password</label>
                  <input type="password" formControlName="confirmPassword" class="form-control" id="exampleInputConfirmPassword" required>
                  <div *ngIf="isFieldInvalid('confirmPassword')" class="alert alert-danger">
                    Password must contain at least one uppercase letter, one lowercase letter, one digit, and be at least 6 characters long
                  </div>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary m-1" [disabled]="!updatePasswordForm.valid">Update Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
