<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar-emp></app-sidebar-emp>
  <div class="body-wrapper">
    <app-header-emp></app-header-emp>
    <div class="container-fluid">
      <div class="row">
        <div [ngClass]="selectedTask ? 'col-md-8' : 'col-md-12'">
          <div class="card">
            <div class="card-body">
              <full-calendar #calendar [options]="calendarOptions"></full-calendar>
            </div>
          </div>
        </div>
        <div *ngIf="selectedTask" class="col-md-4">
          <div class="card shadow-sm border-primary">
            <div class="card-header d-flex justify-content-between align-items-center"
                 [ngStyle]="{ 'background-color': getTaskColor(selectedTask.status) }">
              <h5 class="mb-0">Task Details</h5>
              <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="discardTaskDetails()"></button>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <h5 class="card-title">{{ selectedTask.title }}</h5>
                <p class="card-text"><strong>Description:</strong> {{ selectedTask.description }}</p>
              </div>
              <div class="mb-3">
                <p *ngIf="selectedTask.startDate" class="card-text"><strong>Start Date:</strong> {{ selectedTask.startDate | date:'d MMMM yyyy \'at\' HH:mm'}}</p>
                <p *ngIf="selectedTask.endDate" class="card-text"><strong>End Date:</strong> {{ selectedTask.endDate | date:'d MMMM yyyy \'at\' HH:mm'}}</p>
                <p *ngIf="selectedTask.dueDate" class="card-text"><strong>Due Date:</strong> {{ selectedTask.dueDate | date:'d MMMM yyyy \'at\' HH:mm'}}</p>
                <p class="card-text"><strong>Status:</strong> {{ selectedTask.status }}</p>
                <p class="card-text"><strong>Project:</strong> {{ selectedTask.project.name }}</p>
                <p class="card-text"><strong>Assigned To:</strong> {{ selectedTask.assignedEmp.firstName }} {{selectedTask.assignedEmp.lastName}}</p>
              </div>
              <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary me-2" [ngClass]="{'disabled-link': selectedTask.status === 'COMPLETED'}"
                        (click)="selectedTask.status !== 'COMPLETED' && doneTask(selectedTask)">
                  Update Task
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</body>
