<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <a href="" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="assets/backTemplate/images/logos/archimedLogo.png" width="200" alt="Archimed Logo">
            </a>
            <p class="text-center">Confirm Password Reset</p>
            <br>
            <form [formGroup]="confirmPasswordResetForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="token" class="form-label">Code</label>
                <input type="text" id="token" formControlName="token" class="form-control" placeholder="Enter the code" required>
                <div *ngIf="confirmPasswordResetForm.controls['token'].invalid && confirmPasswordResetForm.controls['token'].touched" class="alert alert-danger">
                  Code is required.
                </div>
              </div>
              <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <input type="password" id="newPassword" formControlName="newPassword" class="form-control" placeholder="Enter your new password" required>
                <div *ngIf="confirmPasswordResetForm.controls['newPassword'].invalid && confirmPasswordResetForm.controls['newPassword'].touched" class="alert alert-danger">
                  Password must contain at least one uppercase letter, one lowercase letter, one digit, and be at least 6 characters long
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary w-100 py-2 fs-4 mb-4 rounded-2" [disabled]="confirmPasswordResetForm.invalid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
