<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <app-sidebar-manager></app-sidebar-manager>
  <div class="body-wrapper">
    <app-header-manager></app-header-manager>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <img src="/assets/backTemplate/images/logos/project.png" class="img-fluid mb-5" alt="Profile Picture" style="max-width: 120%; height: auto;">
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h2>Update Project</h2>
              <br>
              <form [formGroup]="projectForm" (ngSubmit)="updateProject()">
                <div class="mb-3">
                  <label for="name" class="form-label">Project Name</label>
                  <input type="text" class="form-control" id="name" formControlName="name" [attr.disabled]="true">
                </div>
                <div class="mb-3">
                  <label for="description" class="form-label">Description</label>
                  <textarea class="form-control" id="description" formControlName="description" required></textarea>
                  <div *ngIf="isFieldInvalid('description')" class="alert alert-danger">
                    Description is required
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input type="date" class="form-control" id="startDate" formControlName="startDate">
                  </div>
                  <div class="col">
                    <label for="endDate" class="form-label">End Date</label>
                    <input type="date" class="form-control" id="endDate" formControlName="endDate">
                    <div *ngIf="projectForm.errors?.['dateInvalid']" class="alert alert-danger">
                      End date must be after the start date
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="projectManagerId" class="form-label">Project Manager</label>
                  <input type="text" class="form-control" id="projectManagerId" formControlName="projectManagerId" [value]="projectManager?.firstName + ' ' + projectManager?.lastName" [attr.disabled]="true">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Update Project</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
