<div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
  <div class="d-flex align-items-center justify-content-center w-100">
    <div class="row justify-content-center w-100">
      <div class="col-md-8 col-lg-6 col-xxl-3">
        <div class="card mb-0">
          <div class="card-body">
            <a href="" class="text-nowrap logo-img text-center d-block py-3 w-100">
              <img src="assets/backTemplate/images/logos/archimedLogo.png" width="200" alt="Archimed Logo">
            </a>
            <p class="text-center">Initiate Password Reset</p>
            <br>
            <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="Enter your phone number" required>
                <div *ngIf="passwordResetForm.controls['phoneNumber'].invalid && passwordResetForm.controls['phoneNumber'].touched" class="alert alert-danger">
                  Phone number is required and must be 8 digits long.
                </div>
              </div>
              <br>
              <button type="submit" class="btn btn-primary w-100 py-2 fs-4 mb-4 rounded-2" [disabled]="passwordResetForm.invalid">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
