
.task-column {
  background: #e5f1f8;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

.card {
  margin-bottom: 10px;
  border: none;
}

.task-box {
  padding: 20px;
  border: 1px solid #e5f1f8;
  border-radius: 8px;
  background-color: #e5f1f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-box h4 {
  margin-bottom: 20px;
}

.card-header {
  background-color: transparent;
  border-bottom: none;
  font-weight: bold;
}

.card-body {
  padding: 10px 15px;
}

.card-title {
  font-size: 16px;
  font-weight: 500;
}

.card-text {
  font-size: 14px;
  color: #6c757d;
}

.details ul {
  padding: 0;
}

.details li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.details li i {
  margin-right: 10px;
}

.details li.start-date i {
  color: #007bff;
}

.details li.start-date strong {
  color: #007bff;
}

.details li.due-date i {
  color: #ff4500;
}

.details li.due-date strong {
  color: #ff4500;
}

.details li.end-date i {
  color: #dc3545;
}

.details li.end-date strong {
  color: #dc3545;
}

.details {
  margin-top: 15px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.details .date {
  margin-left: 5px;
}

.title{
  margin-left:15px;
}
.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.action-buttons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.action-buttons a i {
  font-size: 18px;
}

.bg-danger {
  background-color: #FA896B !important;
}

.bg-warning {
  background-color: #8AB4FF !important;
}
